@import-normalize; /* bring in normalize.css styles */

body {
background-color: rgb(118 118 118 / 14%)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul{
  margin: 0;
  padding-left: 0;
  list-style: none;
}